
body { margin: 0 auto; }

ul {
  list-style-type: none;
  margin: 3px;
}

ul.checktree li:before {
  height: 1em;
  width: 12px;
  border-bottom: 1px dashed;
  content: "";
  display: inline-block;
  top: -0.3em;
}

ul.checktree li { border-left: 1px dashed; }

ul.checktree li:last-child:before { border-left: 1px dashed; }

ul.checktree li:last-child { border-left: none; }
