<html>
  <head><title>{{title}}</title></head>
  <body>
    <div class='basic-form'>
      <form id='newEntityForm' autocomplete='off'>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group col-md-12'>
              <label>نام کافه رستوران</label>
              <input
                name='title'
                type='text'
                class='form-control'
                placeholder='نام کافه رستوران'
              />
            </div>
          </div>
        </div>

      </form>
    </div>

    <div class='row'>
      <button id='saveButton' class='btn btn-primary mt-3'><i
          class='fa fa-save'
        ></i>
        ایجاد</button>
    </div>
  </body>
</html>