{{#section 'header'}}
  <meta name='keywords' content='' />
  <meta name='author' content='' />
  <meta name='robots' content='' />
  <meta name='description' content='{{model.title}}' />
  <meta property='og:title' content='{{model.title}}' />
  <meta property='og:description' content='{{model.title}}' />
  <meta property='og:image' />

  <title>{{title}}</title>
  <link
    rel='stylesheet'
    href='/tools/core/bootstrap-table@1.19.1/bootstrap-table.min.css'
  />
  <style>
    .custom-checkbox label { display: unset; } .chatbox { left: unset
    !important; position: relative !important; padding: 10px !important; height:
    auto !important; width: 100% !important; } .tab-pane { padding: 20px; }
  </style>

  <link
    href='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css'
    rel='stylesheet'
  />

{{/section}}

<div class='card'>
  <div class='card-header'>
    <h4>لیست منو ها</h4>
  </div>
  <div id='mainSection' class='card-body'>
    <div class='text-left'>
      <button id='onMenuAddClick' class='btn btn-success'><i
          class='flaticon-381-add'
        ></i>
        اضافه کردن</button>
    </div>

    <table
      id='menuTable'
      class='table table-striped'
      data-sticky-header='true'
      data-ajax='getMenuAjaxRequest'
      data-side-pagination='server'
      data-pagination='true'
      data-page-list='[10, 20, 50, 100, 200]'
      data-locale='fa-IR'
      data-search='true'
    >
      <thead>
        <tr>
          <th data-field='title'>نام منو</th>
          <th data-field='price'>قیمت</th>
          <th data-formatter='menuImageFormatter'>تصویر</th>
          <th data-formatter='menuActionFormatter'>عملیات</th>

        </tr>
      </thead>

    </table>
  </div>
  <div class='card-header'>
    <div class='text-left'>
      <button
        id='menuBackButton'
        class='btn btn-secondary'
        style='display: none;'
      >بازگشت</button>
    </div>
  </div>
  <div id='menuSection' class='card-body' style='display: none;'></div>

</div>

{{#section 'footer'}}
  <script
    src='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js'
  ></script>
  <script src='https://unpkg.com/leaflet@1.8.0/dist/leaflet.js'></script>
  <script
    src='/tools/core/bootstrap-table@1.19.1/bootstrap-table.min.js'
  ></script>
  <script
    src='/tools/core/bootstrap-table@1.19.1/bootstrap-table-fa-IR.js'
  ></script>
  <script src='/src/discountcoffe/buffet/menu.js'></script>
{{/section}}