<div class='care'>
  <div class='container-lg'>
    <div class='text-center'>
      <h1 class='heading-contact'>درباره ما</h1>
    </div>
    <div class='wrapper'>
      <div class='row'>
        <div class='col-md-12 offset-1'>
          <p>تخفیف کافه اولین و بزرگترین سیستم انلاین و شرکت در زمینه کافه
            رستوران و تشکیل شده از افراد متخصص است که هدفش راحت تر کردن و سهولت
            بخشیدن به کار کافه رستوران ها و عوام مردم است  تخفیف کافه با آسان
            سازی و دادن دسترسی به کاربران برای راحت تر یافتن کافه و رستوران ها
            در تمامی مناطق مورد نظر است همچنین امکان استفاده از تخفیفات کافه و
            کافه رستوران ها سفارش گیری ، رزرو میز، و استفاده از آفر هایی که به
            شما ارائه داده میشه رو فراهم میکند.</p>
        </div>

      </div>
    </div>
  </div>
</div>