<div class='care'>
  <div class='container-lg'>
    <div class='text-center'>
      <h1 class='heading-contact'>تماس با ما</h1>
    </div>
    <div class='wrapper'>
      <div class='row'>
        <div class='col-md-4 offset-1'>
          <div class='address'>
            <i class='icon-tell'></i>
            <div class='titles'>
              <h4>تماس تلفنی با مشاورین</h4>
              <p>0904-4270712</p>
            </div>
          </div>

          <div class='address'>
            <i class='icon-tell'></i>
            <div class='titles'>
              <h4>تماس تلفنی با مشاورین</h4>
              <p>0991-0708385</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>