{{#section 'header'}}
  <title>صفحه لاگین</title>
{{/section}}

<section class='cases news hero'>
  <div class='container-lg'>
    <div class='row align-items-center'>
      <div class='col-md-5 offset-md-1'>
        <div class='loginItems'>
          <form action='/login{{#if (isDefined redirectUrl)}}?redirectUrl={{redirectUrl}}{{/if}}' method='POST'>
            <h3>شماره تلفن خود را وارد نمایید</h3>
            <input name="phoneNumber" type='text' placeholder='09120000000' />
            <button type="submit">دریافت کد تایید</button>
          </form>
        </div>
      </div>
      <div class='col-md-6 hideMobile'>
        <div class='leftSide'>
          <img
            class='w-100'
            src='/theme/discountcoffe/assets/img/png/login.svg'
            alt=''
          />

        </div>
      </div>
    </div>
  </div>
</section>