@font-face {
	font-family: "Icons";
	src: url('../fonts/icons/Icons.eot');
	src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
	url('../fonts/icons/Icons.woff2') format('woff2'),
	url('../fonts/icons/Icons.woff') format('woff'),
	url('../fonts/icons/Icons.ttf') format('truetype'),
	url('../fonts/icons/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
	font-family: "Icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";
	
		@if $filename == add-to-cart {
		$char: "\E001";
	}
		@if $filename == architect {
		$char: "\E002";
	}
		@if $filename == arrow {
		$char: "\E003";
	}
		@if $filename == as {
		$char: "\E004";
	}
		@if $filename == bag {
		$char: "\E005";
	}
		@if $filename == basket {
		$char: "\E006";
	}
		@if $filename == bottom {
		$char: "\E007";
	}
		@if $filename == box {
		$char: "\E008";
	}
		@if $filename == calendar {
		$char: "\E009";
	}
		@if $filename == call {
		$char: "\E00A";
	}
		@if $filename == carpenter {
		$char: "\E00B";
	}
		@if $filename == cart {
		$char: "\E00C";
	}
		@if $filename == catalog {
		$char: "\E00D";
	}
		@if $filename == certificate {
		$char: "\E00E";
	}
		@if $filename == clean {
		$char: "\E00F";
	}
		@if $filename == clock {
		$char: "\E010";
	}
		@if $filename == code {
		$char: "\E011";
	}
		@if $filename == coin {
		$char: "\E012";
	}
		@if $filename == customer {
		$char: "\E013";
	}
		@if $filename == date {
		$char: "\E014";
	}
		@if $filename == down {
		$char: "\E015";
	}
		@if $filename == download {
		$char: "\E016";
	}
		@if $filename == edu {
		$char: "\E017";
	}
		@if $filename == envelope {
		$char: "\E018";
	}
		@if $filename == exist {
		$char: "\E019";
	}
		@if $filename == exit {
		$char: "\E01A";
	}
		@if $filename == expand {
		$char: "\E01B";
	}
		@if $filename == export {
		$char: "\E01C";
	}
		@if $filename == express {
		$char: "\E01D";
	}
		@if $filename == eye {
		$char: "\E01E";
	}
		@if $filename == facebook {
		$char: "\E01F";
	}
		@if $filename == gp {
		$char: "\E020";
	}
		@if $filename == haert-fill {
		$char: "\E021";
	}
		@if $filename == heart-filed {
		$char: "\E022";
	}
		@if $filename == heart {
		$char: "\E023";
	}
		@if $filename == hospital {
		$char: "\E024";
	}
		@if $filename == hq {
		$char: "\E025";
	}
		@if $filename == instagram {
		$char: "\E026";
	}
		@if $filename == iran {
		$char: "\E027";
	}
		@if $filename == label {
		$char: "\E028";
	}
		@if $filename == left {
		$char: "\E029";
	}
		@if $filename == level {
		$char: "\E02A";
	}
		@if $filename == linkedin {
		$char: "\E02B";
	}
		@if $filename == location {
		$char: "\E02C";
	}
		@if $filename == lock {
		$char: "\E02D";
	}
		@if $filename == mail {
		$char: "\E02E";
	}
		@if $filename == master {
		$char: "\E02F";
	}
		@if $filename == MIN {
		$char: "\E030";
	}
		@if $filename == minus {
		$char: "\E031";
	}
		@if $filename == money {
		$char: "\E032";
	}
		@if $filename == moon {
		$char: "\E033";
	}
		@if $filename == movie {
		$char: "\E034";
	}
		@if $filename == order {
		$char: "\E035";
	}
		@if $filename == pack {
		$char: "\E036";
	}
		@if $filename == pause {
		$char: "\E037";
	}
		@if $filename == people {
		$char: "\E038";
	}
		@if $filename == pizza {
		$char: "\E039";
	}
		@if $filename == plau {
		$char: "\E03A";
	}
		@if $filename == play {
		$char: "\E03B";
	}
		@if $filename == plus {
		$char: "\E03C";
	}
		@if $filename == price {
		$char: "\E03D";
	}
		@if $filename == print {
		$char: "\E03E";
	}
		@if $filename == quality {
		$char: "\E03F";
	}
		@if $filename == report {
		$char: "\E040";
	}
		@if $filename == research {
		$char: "\E041";
	}
		@if $filename == right {
		$char: "\E042";
	}
		@if $filename == room {
		$char: "\E043";
	}
		@if $filename == ruller {
		$char: "\E044";
	}
		@if $filename == search {
		$char: "\E045";
	}
		@if $filename == services {
		$char: "\E046";
	}
		@if $filename == share {
		$char: "\E047";
	}
		@if $filename == shipping {
		$char: "\E048";
	}
		@if $filename == shop {
		$char: "\E049";
	}
		@if $filename == software {
		$char: "\E04A";
	}
		@if $filename == star {
		$char: "\E04B";
	}
		@if $filename == sun {
		$char: "\E04C";
	}
		@if $filename == support {
		$char: "\E04D";
	}
		@if $filename == tell {
		$char: "\E04E";
	}
		@if $filename == tick {
		$char: "\E04F";
	}
		@if $filename == times {
		$char: "\E050";
	}
		@if $filename == top {
		$char: "\E051";
	}
		@if $filename == trash {
		$char: "\E052";
	}
		@if $filename == truck {
		$char: "\E053";
	}
		@if $filename == twitter {
		$char: "\E054";
	}
		@if $filename == type {
		$char: "\E055";
	}
		@if $filename == update {
		$char: "\E056";
	}
		@if $filename == user {
		$char: "\E057";
	}
		@if $filename == userl {
		$char: "\E058";
	}
		@if $filename == videos {
		$char: "\E059";
	}
		@if $filename == warranty {
		$char: "\E05A";
	}
		@if $filename == water {
		$char: "\E05B";
	}
		@if $filename == whatsapp {
		$char: "\E05C";
	}
		@if $filename == zoom {
		$char: "\E05D";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-add-to-cart {
	@include icon(add-to-cart);
}
.icon-architect {
	@include icon(architect);
}
.icon-arrow {
	@include icon(arrow);
}
.icon-as {
	@include icon(as);
}
.icon-bag {
	@include icon(bag);
}
.icon-basket {
	@include icon(basket);
}
.icon-bottom {
	@include icon(bottom);
}
.icon-box {
	@include icon(box);
}
.icon-calendar {
	@include icon(calendar);
}
.icon-call {
	@include icon(call);
}
.icon-carpenter {
	@include icon(carpenter);
}
.icon-cart {
	@include icon(cart);
}
.icon-catalog {
	@include icon(catalog);
}
.icon-certificate {
	@include icon(certificate);
}
.icon-clean {
	@include icon(clean);
}
.icon-clock {
	@include icon(clock);
}
.icon-code {
	@include icon(code);
}
.icon-coin {
	@include icon(coin);
}
.icon-customer {
	@include icon(customer);
}
.icon-date {
	@include icon(date);
}
.icon-down {
	@include icon(down);
}
.icon-download {
	@include icon(download);
}
.icon-edu {
	@include icon(edu);
}
.icon-envelope {
	@include icon(envelope);
}
.icon-exist {
	@include icon(exist);
}
.icon-exit {
	@include icon(exit);
}
.icon-expand {
	@include icon(expand);
}
.icon-export {
	@include icon(export);
}
.icon-express {
	@include icon(express);
}
.icon-eye {
	@include icon(eye);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-gp {
	@include icon(gp);
}
.icon-haert-fill {
	@include icon(haert-fill);
}
.icon-heart-filed {
	@include icon(heart-filed);
}
.icon-heart {
	@include icon(heart);
}
.icon-hospital {
	@include icon(hospital);
}
.icon-hq {
	@include icon(hq);
}
.icon-instagram {
	@include icon(instagram);
}
.icon-iran {
	@include icon(iran);
}
.icon-label {
	@include icon(label);
}
.icon-left {
	@include icon(left);
}
.icon-level {
	@include icon(level);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-location {
	@include icon(location);
}
.icon-lock {
	@include icon(lock);
}
.icon-mail {
	@include icon(mail);
}
.icon-master {
	@include icon(master);
}
.icon-MIN {
	@include icon(MIN);
}
.icon-minus {
	@include icon(minus);
}
.icon-money {
	@include icon(money);
}
.icon-moon {
	@include icon(moon);
}
.icon-movie {
	@include icon(movie);
}
.icon-order {
	@include icon(order);
}
.icon-pack {
	@include icon(pack);
}
.icon-pause {
	@include icon(pause);
}
.icon-people {
	@include icon(people);
}
.icon-pizza {
	@include icon(pizza);
}
.icon-plau {
	@include icon(plau);
}
.icon-play {
	@include icon(play);
}
.icon-plus {
	@include icon(plus);
}
.icon-price {
	@include icon(price);
}
.icon-print {
	@include icon(print);
}
.icon-quality {
	@include icon(quality);
}
.icon-report {
	@include icon(report);
}
.icon-research {
	@include icon(research);
}
.icon-right {
	@include icon(right);
}
.icon-room {
	@include icon(room);
}
.icon-ruller {
	@include icon(ruller);
}
.icon-search {
	@include icon(search);
}
.icon-services {
	@include icon(services);
}
.icon-share {
	@include icon(share);
}
.icon-shipping {
	@include icon(shipping);
}
.icon-shop {
	@include icon(shop);
}
.icon-software {
	@include icon(software);
}
.icon-star {
	@include icon(star);
}
.icon-sun {
	@include icon(sun);
}
.icon-support {
	@include icon(support);
}
.icon-tell {
	@include icon(tell);
}
.icon-tick {
	@include icon(tick);
}
.icon-times {
	@include icon(times);
}
.icon-top {
	@include icon(top);
}
.icon-trash {
	@include icon(trash);
}
.icon-truck {
	@include icon(truck);
}
.icon-twitter {
	@include icon(twitter);
}
.icon-type {
	@include icon(type);
}
.icon-update {
	@include icon(update);
}
.icon-user {
	@include icon(user);
}
.icon-userl {
	@include icon(userl);
}
.icon-videos {
	@include icon(videos);
}
.icon-warranty {
	@include icon(warranty);
}
.icon-water {
	@include icon(water);
}
.icon-whatsapp {
	@include icon(whatsapp);
}
.icon-zoom {
	@include icon(zoom);
}