.logoBox {
  text-align: center;
  position: relative;
  z-index: 9999;
}

button.hamburger.hamburger--collapse {
  display: none;

  @media #{$size991} {
    display: block;
    padding: 0;
    top: 0;
    position: relative;
    z-index: 99999;
  }
}

a.login {
  @media #{$size991} {
    display: none;
  }
}

.mobileLogin {
  @media #{$size991} {
    display: block;
  }
}

.menuBase {
  background: #38220f;
  position: relative;
  z-index: 999999;
  @media #{$size991} {
    z-index: 9999999;
    background: #38220f;
    margin-bottom: 1em;
    position: fixed;
    width: 100%;
    top: 0;
  }
  &.active {
    background: #5a5a5ac2;
    z-index: 999999999;
    position: fixed;
    width: 100%;
    height: 78px;
    backdrop-filter: blur(5px);
    top: 0;
    ul {
      @media #{$size991} {
        right: 0px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #38220f;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin: 0;
      }
    }
    @media #{$size991} {
      background: #38220f;
      z-index: unset;
      position: unset;
      width: unset;
      height: unset;
      backdrop-filter: unset;
    }
  }

  ul.menuSmall li {
    display: block;
    margin: 16px 0;
  }

  nav {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 11;
    padding-top: 20px;
    padding-bottom: 11px;
    margin-bottom: 30px;

    @media #{$size991} {
      margin-bottom: 0;
      position: fixed;
      width: 100%;
      background: #38220f;
      padding: 15px;
    }
    .searchBox {
      display: none;
    }
    .logo {
      @media #{$size767} {
        width: 60%;
        margin-right: 0;
      }
    }

    a.login {
      border-radius: 14px;
      background: #00c9ac;
      color: #fff;
      padding: 14px 33px;
      font-size: 17px;
      font-weight: 500;
    }
    .phoneNumber {
      @media #{$size767} {
        display: none;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      flex: 1;
      margin-right: 35px;

      @media #{$size991} {
        display: none;
      }

      li {
        display: inline;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #000;
        margin: 18px;

        @media #{$size991} {
          display: block;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #000 !important;
          margin: 17px 0;
          text-align: center;
        }

        a {
          color: #fff;
          font-weight: 300;
        }

        &.active {
          background: #414141;
          padding: 9px 12px 34px;
          border-radius: 10px;
          margin: 26px;
        }
      }
    }

    .addons {
      display: flex;
      flex-flow: row-reverse;
      align-items: center;
      i {
        color: #fff;
        font-size: 24px;
        position: relative;
        top: 5px;
        margin-left: 20px;
      }
    }
  }
}

.menuBase nav.active ul {
  @media #{$size991} {
    width: 100%;
    background: #fff;
    position: fixed;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
}

.mainMenu {
  .wrapper {
    background: white;
    padding: 14px;
    margin-bottom: 50px;
    border-radius: 45px;
    @media #{$size991} {
      position: fixed;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 999999;
      border-radius: 0;
      transform: translateX(100%);
      transition: all 0.3s;
      padding: 17% 0 0;
      overflow-y: scroll;
    }
    &.active {
      @media #{$size991} {
        transform: translateX(0);
      }
    }
  }
  .titleHead {
    margin-bottom: 17px;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media #{$size991} {
      display: none;
    }
  }
  .menuItems {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media #{$size991} {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 5em 0;
    }
  }
  .item {
    margin: 0 30px;
    @media #{$size991} {
      margin: 0 30px 2em;
    }
    img {
      margin-bottom: 26px;
    }
    h4 {
      color: #000;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.search {
  width: 60%;
  position: relative;

  @media #{$size991} {
    display: none;
  }
  input {
    width: 100%;
    border: 0;
    padding: 20px;
    border-radius: 15px;
    color: #000;
  }
  .selectBox {
    position: absolute;
    left: 26px;
    top: 9px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    i {
      margin-right: 18px;
      font-size: 23px;
      margin-top: -9px;
      position: relative;
      top: 9px;
    }
    select {
      padding: 9px 17px;
      border-radius: 9px;
      border: 1px solid #bababa;
    }
  }
  &.mobile {
    display: none;
    @media #{$size991} {
      display: block;
      width: 100%;
      margin-bottom: 1em;
      margin-top: 85px;
    }
  }
}
