<html lang='fa' dir='rtl'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{{_sections.header}}}
    <link
      rel='stylesheet'
      href='/theme/discountcoffe/assets/css/hc-offcanvas-nav.css'
    />
    <link
      rel='stylesheet'
      href='/theme/discountcoffe/assets/css/main.min.css'
    />
    <link rel='stylesheet' href='/src/discountcoffe/styles/custom.min.css' />
  </head>

  <body>
    <div class='menuBase'>
      <nav class='container-lg'>
        <div class='logoMobile'>
          <button class='hamburger hamburger--collapse' type='button'>
            <span class='hamburger-box'>
              <span class='hamburger-inner'></span>
            </span>
          </button>
        </div>
        <div class='logoBox'>
          <a href='/'>
            <img
              class='logo'
              src='/theme/discountcoffe/assets/img/png/logo.svg'
              alt=''
            />
          </a>
        </div>
        <ul class='menuMobile'>
          <li><a href='/'>صفحه اصلی</a></li>
          <li><a href='/buffet/list'>همه کافه ها</a></li>
          <li><a href='/aboutus'>درباره ما</a></li>
          <li><a href='/contactus'>تماس با ما</a></li>
        </ul>
        <div class='addons'>
          {{#if (isnull user)}}
            <a href='/login' class='login'>ورود / ثبت نام</a>
          {{/if}}
          <a href='' class='loginMobile'><i class='icon-user'></i></a>
        </div>
      </nav>
    </div>
    {{{body}}}

    <div class='features'>
      <div class='container-lg'>
        <div class='featureWrapper'>
          <div class='row'>
            <div class='col-md-3 col-6'>
              <img
                src='/theme/discountcoffe/assets/img/png/support.png'
                alt=''
              />
              <h4>پشتیبانی آنلاین</h4>
            </div>
            <div class='col-md-3 col-6'>
              <img
                src='/theme/discountcoffe/assets/img/png/verified.png'
                alt=''
              />
              <h4>کافه های تایید شده</h4>
            </div>
            <div class='col-md-3 col-6'>
              <img src='/theme/discountcoffe/assets/img/png/many.png' alt='' />
              <h4>تنوع منو های زیاد</h4>
            </div>
            <div class='col-md-3 col-6'>
              <img src='/theme/discountcoffe/assets/img/png/easy.png' alt='' />
              <h4>فرایند رزرو آسان</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id='footer'>
      <div class='container'>
        <div class='footerWrapper'>
          <div class='row'>
            <div class='col-md-12'>
              <div class='row'>
                <div class='col-md-4'>
                  <div class='footerAbout'>
                    <svg
                      width='65'
                      height='65'
                      viewBox='0 0 65 65'
                      fill='none'
                      xmlns='http://www.w3.org/2000/svg'
                    >
                      <path
                        d='M54.5225 38.3647C54.7254 37.0978 54.8277 35.8161 54.8281 34.5316V34.5312V24.7022C55.8287 25.0518 56.7278 25.6583 57.4305 26.4697C58.3923 27.5801 58.9217 28.9998 58.9219 30.4688C58.9219 30.4688 58.9219 30.4688 58.9219 30.4689V32.4999L54.5225 38.3647ZM54.5225 38.3647C55.5647 38.0608 56.5154 37.4821 57.269 36.6785C58.3308 35.5462 58.9217 34.0522 58.9219 32.5L54.5225 38.3647ZM31.894 4.66849L31.1911 5.37136L31.894 4.66849C31.516 4.29049 31.0033 4.07812 30.4688 4.07812C29.9342 4.07812 29.4215 4.29049 29.0435 4.66849L29.7464 5.37136L29.0435 4.66849C28.6655 5.04649 28.4531 5.55918 28.4531 6.09375V14.2188C28.4531 14.7533 28.6655 15.266 29.0435 15.644L29.7506 14.9369L29.0435 15.644C29.4215 16.022 29.9342 16.2344 30.4688 16.2344C31.0033 16.2344 31.516 16.022 31.894 15.644L31.1869 14.9369L31.894 15.644C32.272 15.266 32.4844 14.7533 32.4844 14.2188V6.09375C32.4844 5.55918 32.272 5.04649 31.894 4.66849ZM37.1685 4.66849L37.8714 5.37136L37.1685 4.66849C36.7905 5.04649 36.5781 5.55918 36.5781 6.09375V14.2188C36.5781 14.7533 36.7905 15.266 37.1685 15.644L37.8756 14.9369L37.1685 15.644C37.5465 16.022 38.0592 16.2344 38.5938 16.2344C39.1283 16.2344 39.641 16.022 40.019 15.644C40.397 15.266 40.6094 14.7533 40.6094 14.2188V6.09375C40.6094 5.55917 40.397 5.04649 40.019 4.66849C39.641 4.29048 39.1283 4.07812 38.5938 4.07812C38.0592 4.07812 37.5465 4.29049 37.1685 4.66849ZM8.94254 45.9062C10.3305 48.5322 12.1814 50.8758 14.3981 52.8281H8.125C7.59042 52.8281 7.07774 53.0405 6.69974 53.4185C6.32173 53.7965 6.10938 54.3092 6.10938 54.8438C6.10938 55.3783 6.32173 55.891 6.69974 56.269C7.07774 56.647 7.59042 56.8594 8.125 56.8594H52.8125C53.3471 56.8594 53.8598 56.647 54.2378 56.269C54.6158 55.891 54.8281 55.3783 54.8281 54.8438C54.8281 54.3092 54.6158 53.7965 54.2378 53.4185C53.8598 53.0405 53.3471 52.8281 52.8125 52.8281H46.5368C49.6579 50.0772 52.037 46.5671 53.4326 42.6217C55.8958 42.4708 58.228 41.4255 59.983 39.6705C61.8847 37.7688 62.9531 35.1895 62.9531 32.5V30.4688C62.9531 27.7793 61.8847 25.2 59.983 23.2982C58.0813 21.3965 55.502 20.3281 52.8125 20.3281H8.125C7.59043 20.3281 7.07774 20.5405 6.69974 20.9185L7.3629 21.5816L6.69974 20.9185C6.32174 21.2965 6.10938 21.8092 6.10938 22.3438L6.10937 34.5312L6.10938 34.5333C6.11755 38.4979 7.08989 42.4011 8.94254 45.9062ZM20.3281 6.09375V14.2188C20.3281 14.7533 20.5405 15.266 20.9185 15.644C21.2965 16.022 21.8092 16.2344 22.3438 16.2344C22.8783 16.2344 23.391 16.022 23.769 15.644C24.147 15.266 24.3594 14.7533 24.3594 14.2188V6.09375C24.3594 5.55917 24.147 5.04649 23.769 4.66849C23.391 4.29048 22.8783 4.07812 22.3438 4.07812C21.8092 4.07812 21.2965 4.29048 20.9185 4.66849C20.5405 5.04649 20.3281 5.55917 20.3281 6.09375ZM50.7969 24.3594L50.7969 34.5292C50.7969 34.5298 50.7969 34.5304 50.7969 34.531C50.7887 38.3859 49.6884 42.1596 47.6235 45.4148C45.598 48.6079 42.7256 51.1739 39.3284 52.8281H21.6091C18.2119 51.1739 15.3395 48.6079 13.314 45.4148C11.249 42.1593 10.1487 38.3854 10.1406 34.5303V24.3594H50.7969Z'
                        fill='#643303'
                        stroke='#643303'
                        stroke-width='2'
                      />
                    </svg>
                    <p class='footerAboutText'>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                      بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                      درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می
                      طلبد تا با نرم افزارها شناخت بیشتری
                    </p>
                  </div>
                </div>

                <div class='col-md-3'>
                  <div class='links'>
                    <h4>دسترسی سریع</h4>
                  </div>
                  <div class='menu-footer-menu-container'>
                    <ul id='menu-footer-menu' class='menu'>
                      <li
                        id='menu-item-3292'
                        class='menu-item menu-item-type-custom menu-item-object-custom menu-item-3292'
                      >
                        <a href='/contactus'>ارتباط با ما</a>
                      </li>
                      <li
                        id='menu-item-4117'
                        class='menu-item menu-item-type-post_type menu-item-object-page menu-item-4117'
                      >
                        <a href='/aboutus'>درباره تخفیف کافه</a>
                      </li>
                      <li
                        id='menu-item-4117'
                        class='menu-item menu-item-type-post_type menu-item-object-page menu-item-4117'
                      >
                        <a href='/abouthaminmedia'>درباره تخفیف کافه</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class='col-md-3'>
                  <div class='links'>
                    <h4>شبکه مجازی</h4>
                  </div>
                  <div class='menu-footer-menu-container'>
                    <img
                      src='/theme/discountcoffe/assets/img/png/namad.png'
                      alt=''
                    />
                    <img
                      src='/theme/discountcoffe/assets/img/png/samandehi.png'
                      alt=''
                    />
                  </div>
                </div>
                <div class='col-md-2'></div>
              </div>
              <div class='row'>
                <div class='copyright'>
                  تمام حقوق مادی و معنوی این سایت مربوط به تخفیف کافه می‌باشد.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row copyright"><div class="col-md-6 text-right"><p>تمامی حقوق محفوظ می باشد و هرگونه کپی برداری پیگرد قانونی دارد </p></div><div class="col-md-6 text-left"><div class="socialIcons"><a href=""><i class="icon-twitter"></i></a><a href=""><i class="icon-facebook"></i></a><a href=""><i class="icon-instagram"></i></a><a href=""><i class="icon-telegram"></i></a></div></div></div> -->
      </div>
    </footer>
    <p style='text-align: center; width: 100%'>
      اگه دوست داری سایتی مثل این وب سایت داشته باشی با شرکت
      <a
        style='
          color: #00998c !important;
          padding: 0 !important;
          margin: 0 !important;
          font-weight: 900;
        '
        href='https://hinet.co'
      >های نت
      </a>
      در ارتباط باش
    </p>
    <script src='/theme/discountcoffe/assets/js/jquery.js'></script>
    <script src='/theme/discountcoffe/assets/js/custom.min.js'></script>
    <script src='/theme/discountcoffe/assets/js/wow.js'></script>
    <script>
      new WOW().init();
    </script>
    {{{_sections.footer}}}

  </body>
</html>