<html>
  <head><title>{{title}}</title>

  </head>
  <body>
    <div class='basic-form'>
      <form id='newMenuForm' autocomplete='off'>
        <div class='row'>
          <div class='col-md-6'>

            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <span class='input-group-text'>آپلود</span>
              </div>
              <div class='custom-file'>
                <input
                  id='file'
                  type='file'
                  accept='.jpg,.png'
                  class='custom-file-input'
                />
                <label class='custom-file-label'>انتخاب کاور</label>
              </div>
            </div>

            <div class='form-group col-md-12 d-none'>
              <label>کافه رستوران</label>
              <input
                name='buffetId'
                type='number'
                class='form-control'
                placeholder='کافه رستوران'
              />
            </div>

            <div class='form-group col-md-12'>
              <label>عنوان منو</label>
              <input
                name='title'
                type='text'
                class='form-control'
                placeholder='عنوان منو'
              />
            </div>

            <div class='form-group col-md-12'>
              <label>قیمت</label>
              <input
                name='price'
                type='number'
                class='form-control'
                placeholder='قیمت'
              />
            </div>

          </div>
        </div>
      </form>
    </div>

    <div class='row'>
      <button
        id='saveMenuButton'
        type='submit'
        form='newMenuForm'
        class='btn btn-primary mt-3'
      ><i class='fa fa-save'></i>
        ایجاد</button>
    </div>

  </body>

</html>