<!DOCTYPE html>
<html lang="en" class="h-100">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ارور 400</title>
   
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/theme/jobie/images/favicon.png">
    <link href="/theme/jobie/css/style.css" rel="stylesheet">

</head>

<body class="h-100">
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-5">
                <div class="form-input-content text-center error-page">
                    <h1 class="error-text font-weight-bold">500</h1>
                    <h4><i class="fa fa-times-circle text-danger"></i> خطای سرور</h4>
                    <p>سرور شما دارای خطا است</p>
                    <div>
                        <a class="btn btn-primary" href="/">برگشت به صفحه اصلی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/theme/jobie/vendor/global/global.min.js" type="text/javascript"></script>
<script src="/theme/jobie/vendor/bootstrap-datetimepicker/js/moment.js" type="text/javascript"></script>
<script src="/theme/jobie/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/theme/jobie/vendor/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/theme/jobie/js/custom.min.js" type="text/javascript"></script>
<script src="/theme/jobie/js/deznav-init.js" type="text/javascript"></script>
</body>
</html>