<html>
  <head><title>{{title}}</title>
    <link
      rel='stylesheet'
      href='https://unpkg.com/leaflet@1.8.0/dist/leaflet.css'
    />

  </head>
  <body>
    <div class='basic-form'>
      <form id='newEntityForm' autocomplete='off'>
        <div class='row'>
          <div class='col-md-6'>

            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <span class='input-group-text'>آپلود</span>
              </div>
              <div class='custom-file'>
                <input
                  id='file'
                  type='file'
                  accept='.jpg,.png'
                  class='custom-file-input'
                />
                <label class='custom-file-label'>انتخاب کاور</label>
              </div>
            </div>
            <div class='form-group col-md-12'>
              <label>نام دسته بندی</label>
              <input
                name='title'
                type='text'
                class='form-control'
                placeholder='نام دسته بندی'
              />
            </div>

          </div>
        </div>
      </form>
    </div>

    <div class='row'>
      <button
        id='saveButton'
        type='submit'
        form='newEntityForm'
        class='btn btn-primary mt-3'
      ><i class='fa fa-save'></i>
        ایجاد</button>
    </div>

  </body>

</html>