@font-face {
  font-family: "IRANSansX";
  src: url("../fonts/IRANSansX/IRANSansXFaNum-Black.woff2") format("woff2"),
    url("../fonts/IRANSansX/IRANSansXFaNum-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../fonts/IRANSansX/IRANSansXFaNum-DemiBold.woff2") format("woff2"),
    url("../fonts/IRANSansX/IRANSansXFaNum-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../fonts/IRANSansX/IRANSansXFaNum-Bold.woff2") format("woff2"),
    url("../fonts/IRANSansX/IRANSansXFaNum-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../fonts/IRANSansX/IRANSansXFaNum-Light.woff2") format("woff2"),
    url("../fonts/IRANSansX/IRANSansXFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../fonts/IRANSansX/IRANSansXFaNum-Medium.woff2") format("woff2"),
    url("../fonts/IRANSansX/IRANSansXFaNum-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../fonts/IRANSansX/IRANSansXFaNum-ExtraBold.woff2") format("woff2"),
    url("../fonts/IRANSansX/IRANSansXFaNum-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../fonts/IRANSansX/IRANSansXFaNum-Regular.woff2") format("woff2"),
    url("../fonts/IRANSansX/IRANSansXFaNum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../fonts/IRANSansX/IRANSansXFaNum-Thin.woff2") format("woff2"),
    url("../fonts/IRANSansX/IRANSansXFaNum-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../fonts/IRANSansX/IRANSansXFaNum-UltraLight.woff2") format("woff2"),
    url("../fonts/IRANSansX/IRANSansXFaNum-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/PeydaWeb-Black.woff2") format("woff2"),
    url("../fonts/peyda/PeydaWeb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/PeydaWeb-DemiBold.woff2") format("woff2"),
    url("../fonts/peyda/PeydaWeb-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/PeydaWeb-Bold.woff2") format("woff2"),
    url("../fonts/peyda/PeydaWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/PeydaWeb-Light.woff2") format("woff2"),
    url("../fonts/peyda/PeydaWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/PeydaWeb-Medium.woff2") format("woff2"),
    url("../fonts/peyda/PeydaWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/PeydaWeb-ExtraBold.woff2") format("woff2"),
    url("../fonts/peyda/PeydaWeb-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/PeydaWeb-Regular.woff2") format("woff2"),
    url("../fonts/peyda/PeydaWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/PeydaWeb-Thin.woff2") format("woff2"),
    url("../fonts/peyda/PeydaWeb-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/PeydaWeb-UltraLight.woff2") format("woff2"),
    url("../fonts/peyda/PeydaWeb-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "aviny";
  src: url("../fonts/aviny.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IRANSansX";
}
