.care {
  padding-top: 60px;
  @media #{$size767} {
    padding-top: 60px;
  }
  .address {
    display: flex;
    align-items: center;
    margin-bottom: 78px;

    i {
      font-size: 43px;
      color: #950057;
      display: contents;
    }
    .titles {
      margin-right: 20px;
      margin-bottom: 0 !important;
      h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
        color: #950057;
        text-align: right;
        margin-top: 0 !important;
        margin-bottom: 20px !important;
      }

      p {
        color: #000;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .fullAddress {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 25px !important;
    text-align: right !important;
    color: #000000 !important;
  }
  input.wpcf7-form-control.wpcf7-text,
  textarea.wpcf7-form-control.wpcf7-textarea {
    border: 0;
    background: #f4f4f4;
    padding: 14px;
    margin: 0 0 33px;
    text-align: right;
    width: 100%;
  }
  input.wpcf7-form-control.has-spinner.wpcf7-submit {
    background: #950057;
    border: 0;
    padding: 7px 58px;
    color: #fff;
    font-size: 18px;
  }
  .btns {
    text-align: left;
    direction: ltr;
  }
  .wpcf7-spinner {
    position: relative;
    top: 9px;
  }
  .wpcf7 form .wpcf7-response-output {
    padding: 11px !important;
    margin: 17px 0 13px !important;
    background: #ff3f3f;
    color: #fff !important;
    border: 0 !important;
  }
  iframe {
    border: 0 !important;
    border-radius: 25px;
  }
}

.heading-contact {
  margin-bottom: 58px;
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
