.header {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 950px;
  text-align: center;
  display: flex;
  align-items: center;
  padding-top: 10%;
}

.relatedBox {
  border: 1px solid #d8d8d8;
  padding: 25px;
  margin-bottom: 40px;
  margin-top: 2em;
  .titleRelated {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #233862;
    margin-bottom: 1em;
  }
}
