<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <title>املاک نیل</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/ui.css">
  <link rel="stylesheet" href="assets/css/main.min.css"
  >
</head>

<body class="single">
  <div class="menuBase">
    <nav class="container">

      <div class="logoBox">
        <a href="/"><img class="logo" src="assets/img/png/logo.png" alt=""></a>
      </div>

      <ul>
        <li>صفحه اصلی</li>
        <li>ویلا های اطراف من</li>
        <li>همه فایل ها</li>
        <li>درباره ما</li>
        <li>تماس با ما</li>
      </ul>

      <div class="addons">
        <a href="#!"><i class="icon-search"></i></a>
        <div class="lightSwitcher">
          <i class="icon-sun active"></i>
          <i class="icon-moon"></i>
        </div>
      </div>
      <div class="searchBox">
        <input type="text" class="search">
        <i class="icon-times"></i>
      </div>
    </nav>
  </div>
  <section class="cases">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="filters">
              <div class="head">فیلتر نتایج</div>
              <div class="filterItemSingle active">
                <div class="topBar">
                  <div>
                    <span>دسته بندی</span>
                  </div>
                  <i class="icon-bottom"></i>
                </div>
                <div class="checkbox">
                  <div class="checks">
                    <input type="checkbox" id="room" value="room" />
                    <label for="room">1 خواب</label>
                  </div>
                  <div class="checks">
                    <input type="checkbox" id="room1" value="room1" />
                    <label for="room1">1 خواب</label>
                  </div>
                  <div class="checks">
                    <input type="checkbox" id="room2" value="room2" />
                    <label for="room2">1 خواب</label>
                  </div>
                  <div class="checks">
                    <input type="checkbox" id="room3" value="room3" />
                    <label for="room3">1 خواب</label>
                  </div>
              
                </div>
              </div>
              <div class="filterItemSingle">
                <div class="topBar">
                  <div>
                    <span>نوع</span>
                  </div>
                  <i class="icon-bottom"></i>
                </div>
                <div class="filterWrapper">
                  <select name="" id="">
                    <option value="">تست</option>
                  </select>
                </div>
              </div>
              <div class="filterItemSingle">
                <div class="topBar">
                  <div>
                    <span>قیمت</span>
                  </div>
                  <i class="icon-bottom"></i>
                </div>
                <div class="controls">
                  <div id="price-range"></div>
                  <div class="textinputs">
                    <input id="price-min" type="text" value="0" />
                    <input id="price-max" type="text" value="1000" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
              <div class="row">
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product">
                    <div class="socials">
                      <i class="icon-heart"></i>
                      <i class="icon-share"></i>
                    </div>
                    <img src="assets/img/png/product.png" alt="">
                    <h4>نخ سوزن جراحی مدل جراح داتی </h4>
                    <div class="price"><span>120000000</span> تومان</div>
                    <a href="">خرید محصول</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>

  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/ui.js"></script>
  <script src="assets/js/punch.js"></script>
  <script src="assets/js/custom.min.js"></script>
</body>

</html>